@page
@model FeatureTwo.Index

@{
    ViewData["Title"] = "Feature Two";
}

<h2>Feature Two</h2>

<p>
    <a asp-page= "/Index">Home</a>
</p>

<div id=app></div>

@section Scripts
{
    <environment exclude="Development">
        <script src="~/js/chunk-vendors.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/feature-two.js"></script>
}